

#navigationBarUser
{
	
	float: left;
	background-color: rgba(255,255,255,.9);
	min-height: 100px;
    padding-bottom:50px;
    width:100%;


}

#navigationBarUser button
{
	margin-top: 10px;
	
	}

#infoSectionUser{
	background-color: rgba(255,255,255,.9);
	border: 1px solid red;
	height: 100pv;

	float: left;
	
}
#infoSectionUser2
{
	background-color: rgba(255,255,255,.9);
    background-color: red;
	padding-top:0px;
	float:left;
    clear:both;
	width: 90%;
    max-width:1400px;

	margin-left: 5%;
    margin:auto;
    min-height:400px;

	
}

#check_div
{
	background-color: rgba(255,255,255,.9);
	min-height: 0px;
	
	
	
	width: 100%;
	
}

#sub_error
{
	
	margin:10px;
	clear: both;
  width: 90%;
  float: left;
  color:red;
}

#listPControl{
    
    margin-left:15%;
}

#listPList{
    
    overflow-y:scroll;

}

#listPList div
{
    border:0px solid red;
}
#listPList div button 
{
    width:95%;
    margin:auto;
}
#listPList div input
{
    width:99%;
    margin-left:0%;
}
#listRow{
    background-color:cadetblue;
    margin-top:50px;
}
   

/***csssko pre preklikavia user/ search v headeri*/
 #userBarIcon:hover
              {
                cursor: pointer;
              }
              #userBarIcon{margin-top: 15px;margin-left: 5px;}
              #searchBarIcon {margin-top: 15px;margin-left: 5px;}
             #searchBarHide input {float: left;width: 200px;}
             #searchBarHide button {float: left;width: 50px;}
             #userBarHide button {
              margin-left: 20px;
             }

              #searchBarIcon{float: right;}
              #userBarIcon{ float: right;}
              #userBar{position: relative;}
              #userBarHide{overflow:hidden;width:00px;height:00px;
                position: absolute;background-color: white;
               z-index:100;top:0px;right: 10px;
               border-radius: 5px;padding-top: 5px;
               background-color: rgba(255,255,255,.9);
             }
            
              
              
               #searchBar{position: relative;}
              #searchBarHide{overflow:hidden;width:0px;height:0px;
                position: absolute;top:0px;right: 10px;z-index: 100;
                background-color: white; border-radius: 5px;padding-top: 5px;
           		background-color: rgba(255,255,255,.9);}
              #searchBarHide button
              {
                  height:80%;
              }
                 #searchBarHide input
              {
                  height:80%;
              }
                #sub_error
                {
                  float: left;
                  width: 20%;

                }
                #sub_error i
                {float: left;}
                #sub_error span
                {float: left;

                  margin-right: 20px;}


               #viewEdit{
                   float:left;
                   
                   
               }
               .userRow{
                   margin-bottom:100px;
                 
                   
               }
               .userRow1
               {
                   margin-bottom:30px;
               }
               .userRow div 
               {
                   float:left;
                  
                   
               }
              
                #userRow  span
                {
                    text-align:center;
                }
                #listUsers{
                    width:80%;
                    margin:10%;
                    height:300px;
                    overflow:scroll;
                }