Sources/PHPWebProject1.phpproj
.vs/config/applicationhost.config
.vs/TIS/v14/.suo
TIS.sln
*.phpproj
Sources/.vs/TIS/v14/.suo
.phpintel/21e75230403a216c92eca17dff9cd369
.phpintel/index
Sources/files/*
Sources/filesthumb/*
Sources/filesthumb_medium/*
Sources/_models/db_config.php