Sources/PHPWebProject1.phpproj
.vs/config/applicationhost.config
.vs/TIS/v14/.suo
TIS.sln
*.phpproj
Sources/.vs/TIS/v14/.suo
Sources/files/test1/_Daydream_in_Blue__Wallpaper_by_xluluhimex.jpg
Sources/files/hamster.jpg
*.jpg
.phpintel/21e75230403a216c92eca17dff9cd369
.phpintel/index
*.png
